<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Edumin - Bootstrap Admin Dashboard" />
    <meta property="og:title" content="Edumin - Bootstrap Admin Dashboard" />
    <meta property="og:description" content="Edumin - Bootstrap Admin Dashboard" />
    <meta property="og:image" content="https://edumin.dexignlab.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no">
	<!-- FAVICONS ICON -->
	<link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>Lilo Üniversitesi - Admin Paneli</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	<link href="~/vendor/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>

    <!--**********************************
         Nav header start
     ***********************************-->
    <div class="nav-header">
        <a href="@Url.Action("Index","Home")" class="brand-logo">
            <img class="logo-abbr" src="~/images/logo-white.png" alt="">
            <img class="logo-compact" src="~/images/logo-text-white.png" alt="">
            <img class="brand-title" src="~/images/logo-text-white.png" alt="">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->
    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="search_bar dropdown">
                            <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                            <div class="dropdown-menu p-0 m-0">
                                <form>
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown notification_dropdown">
                            <a class="nav-link bell ai-icon" href="#" role="button" data-toggle="dropdown">
                                <svg id="icon-user" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg>
                                <div class="pulse-css"></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="list-unstyled">
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-user"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p>
                                                    <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-shopping-cart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="danger"><i class="ti-bookmark"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p>
                                                    <strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-heart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-image"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p>
                                                    <strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                </ul>
                                <a class="all-notification" href="#">
                                    Bildirimler <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <img src="~/images/profile/education/pic1.jpg" width="20" alt="" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="./app-profile.html" class="dropdown-item ai-icon">
                                    <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <span class="ml-2">Profil </span>
                                </a>
                                <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                    <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                    <span class="ml-2">Gelen Kutusu </span>
                                </a>
                                <a asp-action="Logout" asp-controller="Login" class="dropdown-item ai-icon">
                                    <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                    <span class="ml-2">Çıkış </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="dlabnav">
        <div class="dlabnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Ana Menü</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-home"></i>
                        <span class="nav-text">Ana Sayfa</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("Index","Home")">Panel 1</a></li>
                        <li><a href="index-2.html">Panel 2</a></li>
                        <li><a href="index-3.html">Panel 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="ai-icon" href="@Url.Action("Index","Home")" aria-expanded="false">
                        <i class="la la-calendar"></i>
                        <span class="nav-text">Etkinlik Yönetimi</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-user"></i>
                        <span class="nav-text">Profesörler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunProfesorler","Home")">Profesör Listesi</a></li>
                        <li><a href="@Url.Action("ProfesorEkle","Home")">Profesör Ekle</a></li>
                        <li><a href="@Url.Action("ProfesorDuzenle","Home")">Profesör Düzenle</a></li>
                        <li><a href="@Url.Action("ProfesorProfil","Home")">Profesör Profili</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-users"></i>
                        <span class="nav-text">Öğrenciler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunOgrenciler","Student")">Öğrenci Listesi</a></li>
                        <li><a href="@Url.Action("OgrenciEkle","Student")">Öğrenci Ekle</a></li>
                        <li><a href="@Url.Action("OgrenciDuzenle","Student")">Öğrenci Düzenle</a></li>
                        <li><a href="@Url.Action("OgrenciHakkinda","Student")">Öğrenci Hakkında</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-graduation-cap"></i>
                        <span class="nav-text">Dersler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunDersler","Home")">Ders Listesi</a></li>
                        <li><a href="@Url.Action("DersEkle","Home")">Ders Ekle</a></li>
                        <li><a href="@Url.Action("DersDuzenle","Home")">Ders Düzenle</a></li>
                        <li><a href="@Url.Action("DersHakkında","Home")">Ders Hakkında</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-book"></i>
                        <span class="nav-text">Kütüphane</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunKutuphaneler","Home")">Kütüphane Listesi</a></li>
                        <li><a href="@Url.Action("KutuphaneEkle","Home")">Kütüphane Ekle</a></li>
                        <li><a href="@Url.Action("KutuphaneDuzenle","Home")">Kütüphane Düzenle</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-building"></i>
                        <span class="nav-text">Fakülteler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunFakulteler","Home")">Fakülte Listesi</a></li>
                        <li><a href="@Url.Action("FakulteEkle","Home")">Fakülte Ekle</a></li>
                        <li><a href="@Url.Action("FakulteDuzenle","Home")">Fakülte Düzenle</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-users"></i>
                        <span class="nav-text">Personel</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("ButunPersonel","Home")">Personel Listesi</a></li>
                        <li><a href="@Url.Action("PersonelEkle","Home")">Personel Ekle</a></li>
                        <li><a href="@Url.Action("PersonelDuzenle","Home")">Personel Düzenle</a></li>
                        <li><a href="@Url.Action("PersonelProfil","Home")">Personel Profili</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-gift"></i>
                        <span class="nav-text">İzinler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("Butunİzinler","Home")">İzinler Listesi</a></li>
                        <li><a href="@Url.Action("İzinEkle","Home")">İzin Ekle</a></li>
                        <li><a href="@Url.Action("İzinDuzenle","Home")">İzin Düzenle</a></li>
                        <li><a href="@Url.Action("İzinTakvimi","Home")">İzin Takvimi</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-dollar"></i>
                        <span class="nav-text">Ödemeler</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="@Url.Action("OdemeOzetleri","Home")">Ödeme Özetleri</a></li>
                        <li><a href="@Url.Action("OdemeEkle","Home")">Ödeme Ekle</a></li>
                        <li><a href="@Url.Action("OdemeMakbuzlari","Home")">Ödeme Makbuzları</a></li>
                    </ul>
                </li>
                <li class="nav-label">Apps</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-users"></i>
                        <span class="nav-text">Apps</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./app-profile.html">Profile</a></li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                            <ul aria-expanded="false">
                                <li><a href="./email-compose.html">Compose</a></li>
                                <li><a href="./email-inbox.html">Inbox</a></li>
                                <li><a href="./email-read.html">Read</a></li>
                            </ul>
                        </li>
                        <li><a href="./app-calender.html">Calendar</a></li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                            <ul aria-expanded="false">
                                <li><a href="./ecom-product-grid.html">Product Grid</a></li>
                                <li><a href="./ecom-product-list.html">Product List</a></li>
                                <li><a href="./ecom-product-detail.html">Product Details</a></li>
                                <li><a href="./ecom-product-order.html">Order</a></li>
                                <li><a href="./ecom-checkout.html">Checkout</a></li>
                                <li><a href="./ecom-invoice.html">Invoice</a></li>
                                <li><a href="./ecom-customers.html">Customers</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="la la-signal"></i>
                        <span class="nav-text">Charts</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./chart-flot.html">Flot</a></li>
                        <li><a href="./chart-morris.html">Morris</a></li>
                        <li><a href="./chart-chartjs.html">Chartjs</a></li>
                        <li><a href="./chart-chartist.html">Chartist</a></li>
                        <li><a href="./chart-sparkline.html">Sparkline</a></li>
                        <li><a href="./chart-peity.html">Peity</a></li>
                    </ul>
                </li>
                <li class="nav-label">Components</li>
                <li class="mega-menu mega-menu-xl">
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="la la-globe"></i>
                        <span class="nav-text">Bootstrap</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./ui-accordion.html">Accordion</a></li>
                        <li><a href="./ui-alert.html">Alert</a></li>
                        <li><a href="./ui-badge.html">Badge</a></li>
                        <li><a href="./ui-button.html">Button</a></li>
                        <li><a href="./ui-modal.html">Modal</a></li>
                        <li><a href="./ui-button-group.html">Button Group</a></li>
                        <li><a href="./ui-list-group.html">List Group</a></li>
                        <li><a href="./ui-media-object.html">Media Object</a></li>
                        <li><a href="./ui-card.html">Cards</a></li>
                        <li><a href="./ui-carousel.html">Carousel</a></li>
                        <li><a href="./ui-dropdown.html">Dropdown</a></li>
                        <li><a href="./ui-popover.html">Popover</a></li>
                        <li><a href="./ui-progressbar.html">Progressbar</a></li>
                        <li><a href="./ui-tab.html">Tab</a></li>
                        <li><a href="./ui-typography.html">Typography</a></li>
                        <li><a href="./ui-pagination.html">Pagination</a></li>
                        <li><a href="./ui-grid.html">Grid</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-plus-square-o"></i>
                        <span class="nav-text">Plugins</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./uc-select2.html">Select 2</a></li>
                        <li><a href="./uc-nestable.html">Nestedable</a></li>
                        <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                        <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                        <li><a href="./uc-toastr.html">Toastr</a></li>
                        <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                    </ul>
                </li>
                <li>
                    <a href="widget-basic.html" aria-expanded="false">
                        <i class="la la-desktop"></i>
                        <span class="nav-text">Widget</span>
                    </a>
                </li>
                <li class="nav-label">Forms</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-file-text"></i>
                        <span class="nav-text">Forms</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./form-element.html">Form Elements</a></li>
                        <li><a href="./form-wizard.html">Wizard</a></li>
                        <li><a href="./form-editor-summernote.html">Summernote</a></li>
                        <li><a href="form-pickers.html">Pickers</a></li>
                        <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                    </ul>
                </li>
                <li class="nav-label">Table</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-table"></i>
                        <span class="nav-text">Table</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                        <li><a href="table-datatable-basic.html">Datatable</a></li>
                    </ul>
                </li>
                <li class="nav-label">Extra</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="la la-th-list"></i>
                        <span class="nav-text">Pages</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./page-register.html">Register</a></li>
                        <li><a href="./page-login.html">Login</a></li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                            <ul aria-expanded="false">
                                <li><a href="./page-error-400.html">Error 400</a></li>
                                <li><a href="./page-error-403.html">Error 403</a></li>
                                <li><a href="./page-error-404.html">Error 404</a></li>
                                <li><a href="./page-error-500.html">Error 500</a></li>
                                <li><a href="./page-error-503.html">Error 503</a></li>
                            </ul>
                        </li>
                        <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <div>
        <div class="content-body">
            @RenderBody()
        </div>
    </div>



</body>
	<script src="~/vendor/global/global.min.js"></script>
	<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.min.js"></script>
	<script src="~/js/dlabnav-init.js"></script>

	<!-- Svganimation scripts -->
    <script src="~/vendor/svganimation/vivus.min.js"></script>
    <script src="~/vendor/svganimation/svg.animation.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
	<script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/jqueryui/js/jquery-ui.min.js"></script>
    <script src="~/vendor/moment/moment.min.js"></script>
    <script src="~/vendor/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="~/js/plugins-init/fullcalendar-init.js"></script>
    <script src="~/js/plugins-init/datatables.init.js"></script>

</html>
